{% extends "layout.html" %}
{% block content%}

<h2>{{ result }}</h2>  

<div id="buttons">
    <a href="/"><button class="button">Wanna play again?</button></a>
</div>

<div id="scores">
    <h2>Scores:</h2>
    <table id="scores_table">
        <tr>
            <th>Player X</th>
            <th>Player O</th>
            <th>Winner</th>
        </tr>
        {% for record in history %}
        <tr>
            <td>
              {{ record.xname }}
            </td>
            <td>
                {{ record.oname }}
            </td>
            <td>
               {{ record.winner}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>   
    


{% endblock %}