{% extends "layout.html" %}
{% block content %}

<h2>It's {{ turn }}'s turn</h2>

<table id="main_game_table">
    {% for i in range(3) %}
    <tr>
        {% for j in range(3) %}
        <td>
            {% if game[i][j] == "X" %}
                <img src="https://freetictactoe.com/images/mark-x.png"/>
            {% elif game[i][j] == "O" %}
                <img src="https://freetictactoe.com/images/mark-o.png"/>
            {% else %}
                <a href="{{ url_for('play', row=i, col=j) }}">Play {{ turn }} here.</a>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<div id="buttons">
  <a href="/computerMove"><button class="button">Help!</button></a>
  <a href="/reset"><button class="button">Reset</button></a>   
</div> 

{% endblock %}