{% extends "layout.html" %}
{% block content%}

<h2>Welcome to my Tic Tac Toe game!</h2>

<div id="names">
    <label for="xname"><img src="https://freetictactoe.com/images/mark-x.png"/>'s name: </label>
    <input type="text" id="xname" name="fname" placeholder="Your name.."><br><br>
    <label for="oname"><img src="https://freetictactoe.com/images/mark-o.png"/>'s name: </label>
    <input type="text" id="oname" name="fname" placeholder="Your partner name.."><br><br>
</div>

<div id="buttons">
    <button class="button" onclick="startGame()">Single Player</button>
    <button class="button" onclick="createMultiplayer()">Create Multiplayer</button>
    <a href="/scores"><button class="button">View Scores</button></a>
</div>


<script>

function createMultiplayer() {
    if(document.getElementById("xname").value.length == 0 || document.getElementById("oname").value.length == 0)
    {
        alert("empty xname or oname")
        document.getElementById("xname").value = ""
        document.getElementById("oname").value = ""
    }
    else { // Go to /game
        var xname = document.getElementById("xname").value
        var oname = document.getElementById("oname").value
        window.location.assign("/createMultiplayer?X=" + xname + "&O=" + oname)
    }
   
}

function startGame() {
    if(document.getElementById("xname").value.length == 0 || document.getElementById("oname").value.length == 0)
    {
        alert("empty xname or oname")
        document.getElementById("xname").value = ""
        document.getElementById("oname").value = ""
    }
    else { // Go to /game
        var xname = document.getElementById("xname").value
        var oname = document.getElementById("oname").value
        window.location.assign("/game?X=" + xname + "&O=" + oname)
    }

}

</script>

{% endblock %}
